<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<html>
    <head>
        <link rel="stylesheet" href="./css/layout.css">
        <link rel="stylesheet" href="./css/styles.css">
        <title>Prototype Pages for Cleveland Coders' Music Review Site</title>
    </head>
    <body>
        <header>
            <nav id="nav_menu">
                <a href="/">Main Page</a>
                <a href="/allCategories">Categories</a>
                <a href="/allHashtags">Hashtags</a>
            </nav>
        </header>
        <main>
            <br>
            <h1>Cleveland Coders' Music Review Site</h1>
            <div class="box-with-rounded-corners" style="padding-bottom: 2px;">
                <span style="font-size: 23px; font-weight: bold;">All Categories: </span>
                <span th:each="oneAlbumsCategories:${allCategories}">
                    <a th:utext="${oneAlbumsCategories.nameOfCategory}"
                       th:href="${'categories/' + oneAlbumsCategories.id}"
                    ></a>&nbsp;&nbsp;
                </span>
            </div>


        </main>
        <footer></footer>
    </body>
</html>